.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--bg-color2);
    padding: 30px;
    height: 500px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 12px;

    .service-icon {
        font-size: 48px;
    }

    .service-description {
        text-align: center;
        width: 300px;
    }
}

#ourservices {
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .service-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}