#landing {
	padding: 0;
	width: 100vw;
	height: 600px;
	margin-top: 65px;
	overflow: hidden;
	position: relative;
	background:linear-gradient(0deg, rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url(../../../../../public/Images/bmw-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 35%;

    
    .content {
		.landing-text {
			display: flex;
			flex-direction: column;
			color: #fff;

			h1 {
				font-size: 28px;
				letter-spacing: 2px;
				transform: translate(0, -40px);
				text-align: left;
			}

			span {
				color: #0011ff;
			}
	
			p {
				width: 30rem;
				letter-spacing: 1px;
				transform: translate(0, -20px);
			}
		}
    }

	.image-landing {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 40rem;
	}

	.button-group {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}
