#contact {
    margin-top: 65px;

    .content {
        display: flex;
        flex-direction: column;

        .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--bg-color2);
            padding: 40px;
            width: 500px;

            .info-item {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px 0;

                .social {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    font-size: 36px;
                }
            }

            hr {
                border: 1px solid var(--contrast);
                width: 350px;
            }
        }

        .feedback {
            display: flex;
            flex-direction: column;
            gap: 15px;

            p {
                width: 700px;
            }
        }

        .contact-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                gap: 12px;

                input {
                    width: 500px;
                    padding: 12px;
                    border: 2px solid var(--contrast);
                    background-color: #fff;
                    border-radius: 6px;
                }

                textarea {
                    width: 500px;
                    background-color: #fff;
                    border: 2px solid var(--contrast);
                    padding: 12px;
                    border-radius: 6px;
                    resize: vertical;
                }

                .button-form {
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                    padding: 10px;
                    border-radius: 6px;
                    border: none;
                    background-color: var(--contrast);
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        
        .maps {
            margin-top: 65px;
            border: 2px solid var(--contrast);
        }
    }
}