#news {
    margin-top: 65px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .news-row {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 50px;
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        p {
            width: 700px;
        }
    }

    .news-item.future {
        position: relative;

        .news-image {
            filter: blur(15px);
        }

        .news-details {
            h3, p {
                filter: blur(5px);
            }
        }
      }

      .coming-soon {
        filter: none !important;
    }
      
      .news-item.future:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black; /* Adjust opacity as needed */
        padding: 10px;
        border-radius: 5px;
      }

    .news-image {
        width: 400px;
    }

    .news-details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            width: 600px;
        }

        .read-more {
            width: fit-content;
        }

        .tag {
            display: inline-block;
            padding: 6px 12px;
            border-radius: 4px;
            background-color: var(--bg-color2);
            color: #fff;
            font-size: 14px;
            margin-right: 8px;
          }
          
          .tag-primary {
            background-color: #007bff;
            color: #fff;
          }
    }
}