.stats-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 140px;
}

#about {
    background-color: var(--bg-color2);
    color: #fff;

    .content {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .about-container {
        display: flex;
        justify-content: space-between;

        .about-stats {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .stats-row {
                display: flex;
                justify-content: space-between;
            }
        }
        
        p {
            width: 500px;
            letter-spacing: 1px;
        }

        .about-image {
            width: 500px;
            border-radius: 6px;
        }
    }
}