@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
	font-family: Electrolize;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-margin-top: 75px;
}

body {
	overflow-x: hidden;
	position: relative;
	width: 100vw;
}

h1 {
	text-align: left;
	font-size: 36px;
	letter-spacing: 2px;
}

p {
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

section {
	padding: 60px 0;
}

.wrapper {
	display: flex;
	align-items: center;
	width: 100vw;
	justify-content: center;

	.content {
		width: 100%;
		max-width: 1200px;
	}
}

.button {
	display: flex;
	align-items: center;
	gap: 3px;
	padding: 10px;
	border-radius: 6px;
	border: none;
	background-color: var(--contrast);
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.button-nobcolor {
	padding: 8px;
	border-radius: 6px;
	border: 2px solid var(--contrast);
	background-color: transparent;
	color: #fff;
}
