#newsarticle {
    margin-top: 65px;

    .news-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .back-icon {
            font-size: 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: var(--contrast);
            text-decoration: none;
        }
    }

    .news-image {
        width: 1200px;
    }

    .news-details {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .tag {
            display: inline-block;
            padding: 6px 12px;
            border-radius: 4px;
            background-color: var(--bg-color2);
            color: #fff;
            font-size: 14px;
            margin-right: 8px;
          }
          
          .tag-primary {
            background-color: #007bff;
            color: #fff;
          }
    }
}