#newsarticle {
    margin-top: 65px;

    .news-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .back-icon {
            font-size: 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: var(--contrast);
            text-decoration: none;
        }
    }

    .news-image {
        width: 1200px;
    }

    .news-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}