:root {
    --maincolor: #1d1c1c;
    --header-color: #fff;
    --bg-color: #efefef;
    --font-color: black;
    --contrast: #007CC7;
    --bg-color2: #12232E;
}

[data-theme="dark"] {

    --font-color: #fff;
    --bg-color: #1d1c1c;
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
    /* Add more styles as needed */
}