#faq {
    margin-top: 65px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .faq-container {
            width: 800px;
        }
        
        .faq-item {
            margin-bottom: 20px;
        }
        
        .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            background-color: var(--bg-color);
            padding: 20px;
            border-radius: 5px;
            border: 1px solid var(--contrast);
        }
        
        .answer {
            display: block;
            padding: 20px;
            border-radius: 5px;
            background-color: var(--bg-color2);
            border: 1px solid var(--contrast);
            margin-top: 5px;
        }
    }
}