#faq {
    margin-top: 65px;
    margin-bottom: 155px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .faq-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .faq-navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: var(--bg-color2);
            padding: 20px;
            width: 200px;
            height: 300px;
        }
        
        .faq-item {
            margin-bottom: 20px;
        }
        
        .question {
            width: 900px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            background-color: var(--bg-color);
            padding: 20px;
            border-radius: 5px;
            border: 1px solid var(--contrast);
        }
        
        .answer {
            width: 900px;
            display: block;
            padding: 20px;
            border-radius: 5px;
            background-color: var(--bg-color2);
            border: 1px solid var(--contrast);
            margin-top: 5px;
        }
    }
}